<a href="https://colab.research.google.com/github/pawel-kowal/pandas/blob/main/01_introduction/S02_L002_Creating_DataSeries_objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
cities = ['London', 'Berlin', 'Warsaw', 'Paris']
cities

['London', 'Berlin', 'Warsaw', 'Paris']

In [3]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

In [4]:
primeNumbers = (2,3,5,7,11,13,17,19)
pd.Series(primeNumbers)

0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
dtype: int64

In [5]:
SpielbergFilmography = {'Jaws': 1975,
                        '1941': 1979,
                        'Indiana Jones':1981,
                        'E.T.': 1982}

In [6]:
pd.Series(SpielbergFilmography)

Jaws             1975
1941             1979
Indiana Jones    1981
E.T.             1982
dtype: int64